@charset "UTF-8";

html { font-size: 100%; }
body { line-height: 1.7; color: #432; font-family: serif; }
a { text-decoration: none; }
ul { list-style: square;}
img { max-width: 100%; }
.font-japanese { color: #a62014; line-height: 2.5; }
.font-english { font-style: italic }
.text-bold { font-weight: bold; }

.cover { background-size: cover; background-position: center bottom; height: 800px; }
.cover-home { background-image: url('../image/background.png'); background-size: cover }

.page-header { padding-top: .5rem; }

.align-center { text-align: center; padding-top: 5rem; }
.logo { width: 210px; }

.main-nav { display: flex; justify-content: center; gap: 2.5rem; font-size: 1.5rem; list-style: none; }
.main-nax a { color: #432; }
.main-nav a:hover { color: #0bd; }

.page-title { font-size: 3rem; text-align: center; margin-top: 2rem; line-height: 1.4;
    font-weight: bold; }

.about { max-width: 736px; padding: 0 1.5rem; margin: 3rem auto 0; }

.heading-large { font-size: 3rem; text-align: center; margin-bottom: 1rem; }
.about p { margin-bottom: 3rem; }
.btn { display: inline-block; font-size: 1.5rem; background-color: #0bd; color: #fff;
    border-radius: 8px; padding: .75rem 1.5rem; transition: .5s }
.btn:hover { background-color: #0090aa; scale: 1.2; rotate: 180deg }

.page-footer {  }
.info { width: 100%; max-width: 544px; margin: auto; padding: 0 1.5rem; border-spacing: 0; }
.info th,.info td { border-bottom: 1px solid #c9c2bc; }
.info th { text-align: left; font-weight: normal; padding: 1rem; }
.info td { padding: 1rem 0; }

.copyright { background-color: #432; text-align: center; padding: 2rem 0;
    margin-top: 6rem; color: #fff; }

@media (min-width: 800px) {
    .page-title { font-size: 5rem; }
    .heading-large { font-size: 4rem; }
    .page-header { display: flex; justify-content: space-between; padding-top: 1.5rem; }
    .wrapper { max-width: 1720px; margin: auto; padding: 0 1.5rem; }
    .main-nav { font-size: 2rem; }
}